
.media {
  margin: 1em;
  width: 100%;
  display: inline-block;
  text-align: left;
  position: relative;
  @media screen and (min-width: 25em) {
    height: 9.5em;
  }
  @media screen and (min-width: 40em) {
    width: 40em;
    margin: 1.5em 0.5em;
  }

  &__picture {
    float: left;
    transform: scale(0.85);
    transition: transform 0.2s ease;
    img {
      border-radius: 100%;
      box-shadow: 0 0.3em 0.5em rgba(#000, 0.2);
      transition: box-shadow 0.2s ease;
    }
  }

  &:hover .media__picture {
    transform: scale(1) translateX(-1em);

    img {
      box-shadow: 0 0.5em 0.8em rgba(#000, 0.15);
    }
  }

  &__content {
    width: calc(100% - 5em);
    box-sizing: border-box;
    position: absolute;
    background: #ffffff;
    box-shadow: 0 0.3em 1em rgba(#000, 0.1);
    padding: 1.5em;
    margin-left: 4em;
    margin-right: 1em;
    z-index: 1;
    color: $text;

    @media screen and (min-width: 50em) {
      padding: 1.5em 3em;
    }

    &--active {
      z-index: 2;
    }

    &__title {
      font-family: $f-title;
      font-weight: bold;
      font-size: 1.3em;
      transition: color 0.3s ease;
      a {
        color: $text;
        text-decoration: none;
      }
    }

    &__meta {
      color: #ccc;
      font-size: 0.8em;
      font-weight: bold;
    }

    &__description {
      display: block;
      position: relative;
      height: 0.1em;
      @media screen and (min-width: 25em) {
        height: 4em;
      }
      overflow: hidden;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 3em;
        width: 100%;
        display: block;
        z-index: 1;
        background: linear-gradient(to top, rgba(#fff, 1), rgba(#fff, 0));
        transition: opacity 0.2s ease;
      }

      p:first-child {
        margin-top: 0.5em;
      }
      p:last-child {
        margin-bottom: 0;
      }

      &--active {
        height: auto;
      }
      &--active::after {
        opacity: 0;
      }
    }
  }

  &:hover .media__content__title, &:focus .media_content_title {
    color: $primary;
    a {
      color: $primary;
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  &--big {
    width: 100%;
    margin: 1em 0;
    @media screen and (min-width: 40em) {
      width: 90%;
    }
    @media screen and (min-width: 50em) {
      width: 80%;
    }
    @media screen and (min-width: 70em) {
      width: 70%;
    }
    @media screen and (min-width: 90em) {
      width: 60%;
    }
    height: auto;
    .media {
      &__picture {
        float: none;
        text-align: center;
      }

      &__content {
        position: relative;
        width: 100%;
        margin: -2em 0 0 0;
        box-sizing: border-box;
      }
    }
    &:hover .media__picture {
      transform: scale(1) translateY(-1em);
    }
  }
}