
.btn, a.btn {
  display: inline-block;
  font-family: $f-title;
  text-decoration: none;
  padding: 0.5em 0.8em;
  background: $background;
  border: 0;
  border-radius: 0.3em;
  margin: 0.3em 1em;
  cursor: pointer;
  color: $text;

  &--link {
    color: $primary;
    box-shadow: 0 0.15em 0.3em rgba(#000, 0.1);
  }

  &--big {
    font-size: 1.1em;
    font-variant: small-caps;
    text-transform: lowercase;
    padding: 0.2em 0.8em 0.4em;
  }

  &--filter {
    color: $primary;
    border: 1px solid rgba($primary, 0.2);
    outline: 0;

    &:hover, &:focus {
      background: $coreBackground;
    }

    &:active {
      background: $background;
      border-color: $primary;
    }

    &.btn--active {
      color: $background;
      background: $primary;

      &:hover, &:focus {
        background: darken($primary, 8);
      }

      &:active {
        background: $background;
        border-color: $primary;
        color: $primary;
      }
    }
  }

  &--active {

  }
}