$white: #ffffff;
$lightGray: #f0f0f0;
$black: #333333;
$blue: #0a6ebd;
$f-title: Open Sans, sans-serif;
$f-text: Droid Serif, serif;

$primary: $blue;
$coreBackground: $lightGray;
$background: $white;
$text: $black;