@import 'variables';

body {
  background-color: $lightGray;
  color: $text;
  font-family: $f-text;
  margin: 0.5em;

  @media screen and (min-width: 50em) {
    margin: 2em;
  }
}

h1 {
  a {
    color: $primary;
    text-decoration: none;
  }
}

.center {
  text-align: center;
}

.fade {
  color: lighten($text, 50)
}


@import 'atom/button';
@import 'molecule/media';
@import 'organism/layout';
@import 'organism/navigation';
