.navigation {
  color: $primary;
  font-family: $f-title;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9em;
  padding: 0.5em 1em;

  &--previous::before {
    content: '< '
  }
  &--next::after {
    content: ' >'
  }
}
